---
import Layout from '../layouts/Layout.astro';

---

<Layout titulo="Wat design Arquitectura" descripcion="Servicios de diseño y construcción arquitectonico en Ixtapa Zihuatanejo">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		
	</main>
</Layout>
