---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  titulo="Servicios wat design"
  descripcion="Servicios de diseño arquitectonico, construcción y asesorías en Zihuatanejo"
>
  <Nav />
  <div class="bandeja">
    <div class="hero">
      <div class="izq">
        <div class="conte init">
          <h1 class="ref">SERVICIOS</h1>
          <h2 class="ref">arquitectonicos | wat design</h2>
          <p class="ref">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            nulla doloribus numquam.
          </p>
        </div>
      </div>
      <div class="der">
        <svg viewBox="0 0 645 442" fill="none" id="logo">
          <g clip-path="url(#clip0_362_1833)">
            <path
              d="M36.891 18.4393L18.4392 -0.00317383L-0.012709 18.4394L18.4391 36.8818L36.891 18.4393Z"
              fill="#743922"></path>
            <path
              d="M70.7594 52.1109L52.3076 33.6685L33.8557 52.111L52.3075 70.5535L70.7594 52.1109Z"
              fill="#743922"></path>
            <path
              d="M104.411 85.7825L85.959 67.3401L67.5071 85.7827L85.9588 104.225L104.411 85.7825Z"
              fill="#743922"></path>
            <path
              d="M138.064 119.455L119.612 101.012L101.16 119.455L119.612 137.897L138.064 119.455Z"
              fill="#743922"></path>
            <path
              d="M171.715 153.127L153.264 134.684L134.812 153.127L153.264 171.569L171.715 153.127Z"
              fill="#743922"></path>
            <path
              d="M205.367 186.798L186.915 168.356L168.463 186.798L186.915 205.241L205.367 186.798Z"
              fill="#743922"></path>
            <path
              d="M642.847 18.4395L624.395 -0.00292969L605.943 18.4396L624.395 36.8821L642.847 18.4395Z"
              fill="#743922"></path>
            <path
              d="M609.41 52.1111L590.958 33.6687L572.507 52.1113L590.958 70.5537L609.41 52.1111Z"
              fill="#743922"></path>
            <path
              d="M575.757 85.7825L557.305 67.3401L538.853 85.7827L557.305 104.225L575.757 85.7825Z"
              fill="#743922"></path>
            <path
              d="M542.106 119.454L523.654 101.012L505.202 119.455L523.654 137.897L542.106 119.454Z"
              fill="#743922"></path>
            <path
              d="M508.452 153.127L490 134.684L471.548 153.127L490 171.569L508.452 153.127Z"
              fill="#743922"></path>
            <path
              d="M474.801 186.798L456.349 168.356L437.897 186.799L456.349 205.241L474.801 186.798Z"
              fill="#743922"></path>
            <path
              d="M339.976 119.455L321.524 101.012L303.072 119.455L321.524 137.897L339.976 119.455Z"
              fill="#743922"></path>
            <path
              d="M373.628 153.127L355.176 134.684L336.724 153.127L355.176 171.569L373.628 153.127Z"
              fill="#743922"></path>
            <path
              d="M407.496 186.798L389.044 168.356L370.592 186.799L389.044 205.241L407.496 186.798Z"
              fill="#743922"></path>
            <path
              d="M441.149 220.47L422.698 202.028L404.246 220.47L422.697 238.913L441.149 220.47Z"
              fill="#743922"></path>
            <path
              d="M306.325 153.127L287.873 134.684L269.421 153.127L287.873 171.569L306.325 153.127Z"
              fill="#743922"></path>
            <path
              d="M272.672 186.798L254.22 168.356L235.768 186.799L254.22 205.241L272.672 186.798Z"
              fill="#743922"></path>
            <path
              d="M239.02 220.47L220.568 202.027L202.116 220.47L220.568 238.912L239.02 220.47Z"
              fill="#743922"></path>
            <path
              d="M37.1058 85.7828L18.6541 67.3403L0.202135 85.7829L18.6539 104.225L37.1058 85.7828Z"
              fill="#5C728F"></path>
            <path
              d="M70.7594 119.454L52.3076 101.012L33.8557 119.455L52.3075 137.897L70.7594 119.454Z"
              fill="#5C728F"></path>
            <path
              d="M104.411 153.126L85.9587 134.684L67.5068 153.126L85.9586 171.569L104.411 153.126Z"
              fill="#5C728F"></path>
            <path
              d="M138.064 186.798L119.612 168.356L101.16 186.798L119.612 205.241L138.064 186.798Z"
              fill="#5C728F"></path>
            <path
              d="M171.715 220.47L153.264 202.028L134.812 220.47L153.264 238.913L171.715 220.47Z"
              fill="#5C728F"></path>
            <path
              d="M205.367 254.142L186.915 235.699L168.463 254.142L186.915 272.584L205.367 254.142Z"
              fill="#5C728F"></path>
            <path
              d="M643.062 85.7828L624.61 67.3403L606.158 85.7829L624.61 104.225L643.062 85.7828Z"
              fill="#5C728F"></path>
            <path
              d="M609.41 119.455L590.958 101.012L572.507 119.455L590.958 137.897L609.41 119.455Z"
              fill="#5C728F"></path>
            <path
              d="M575.757 153.126L557.305 134.684L538.853 153.126L557.305 171.569L575.757 153.126Z"
              fill="#5C728F"></path>
            <path
              d="M542.106 186.798L523.654 168.355L505.202 186.798L523.654 205.24L542.106 186.798Z"
              fill="#5C728F"></path>
            <path
              d="M508.452 220.47L490 202.028L471.548 220.47L490 238.913L508.452 220.47Z"
              fill="#5C728F"></path>
            <path
              d="M474.801 254.142L456.349 235.699L437.897 254.142L456.349 272.584L474.801 254.142Z"
              fill="#5C728F"></path>
            <path
              d="M340.191 186.798L321.739 168.355L303.287 186.798L321.739 205.24L340.191 186.798Z"
              fill="#5C728F"></path>
            <path
              d="M373.845 220.47L355.393 202.027L336.941 220.47L355.393 238.912L373.845 220.47Z"
              fill="#5C728F"></path>
            <path
              d="M407.496 254.142L389.044 235.699L370.592 254.142L389.044 272.584L407.496 254.142Z"
              fill="#5C728F"></path>
            <path
              d="M441.149 287.814L422.698 269.371L404.246 287.814L422.697 306.256L441.149 287.814Z"
              fill="#5C728F"></path>
            <path
              d="M306.54 220.47L288.088 202.028L269.636 220.47L288.088 238.913L306.54 220.47Z"
              fill="#5C728F"></path>
            <path
              d="M272.889 254.142L254.437 235.699L235.985 254.142L254.437 272.584L272.889 254.142Z"
              fill="#5C728F"></path>
            <path
              d="M239.235 287.814L220.783 269.371L202.331 287.814L220.783 306.256L239.235 287.814Z"
              fill="#5C728F"></path>
            <path
              d="M37.1058 153.127L18.6541 134.684L0.202135 153.127L18.6539 171.569L37.1058 153.127Z"
              fill="#B39B6E"></path>
            <path
              d="M70.7594 186.798L52.3076 168.356L33.8557 186.798L52.3075 205.241L70.7594 186.798Z"
              fill="#B39B6E"></path>
            <path
              d="M104.411 220.47L85.9587 202.028L67.5068 220.47L85.9586 238.913L104.411 220.47Z"
              fill="#B39B6E"></path>
            <path
              d="M138.064 254.142L119.612 235.699L101.16 254.142L119.612 272.584L138.064 254.142Z"
              fill="#B39B6E"></path>
            <path
              d="M171.93 287.814L153.479 269.371L135.027 287.814L153.478 306.256L171.93 287.814Z"
              fill="#B39B6E"></path>
            <path
              d="M205.584 321.485L187.132 303.043L168.68 321.486L187.132 339.928L205.584 321.485Z"
              fill="#B39B6E"></path>
            <path
              d="M643.062 153.127L624.61 134.684L606.158 153.127L624.61 171.569L643.062 153.127Z"
              fill="#B39B6E"></path>
            <path
              d="M609.41 186.798L590.958 168.356L572.507 186.799L590.958 205.241L609.41 186.798Z"
              fill="#B39B6E"></path>
            <path
              d="M575.757 220.47L557.305 202.028L538.853 220.47L557.305 238.913L575.757 220.47Z"
              fill="#B39B6E"></path>
            <path
              d="M542.106 254.142L523.654 235.699L505.202 254.142L523.654 272.584L542.106 254.142Z"
              fill="#B39B6E"></path>
            <path
              d="M508.452 287.814L490 269.371L471.548 287.814L490 306.256L508.452 287.814Z"
              fill="#B39B6E"></path>
            <path
              d="M474.801 321.485L456.349 303.043L437.897 321.486L456.349 339.928L474.801 321.485Z"
              fill="#B39B6E"></path>
            <path
              d="M340.191 254.142L321.739 235.699L303.287 254.142L321.739 272.584L340.191 254.142Z"
              fill="#B39B6E"></path>
            <path
              d="M373.845 287.814L355.393 269.371L336.941 287.814L355.393 306.256L373.845 287.814Z"
              fill="#B39B6E"></path>
            <path
              d="M407.496 321.486L389.044 303.043L370.592 321.486L389.044 339.928L407.496 321.486Z"
              fill="#B39B6E"></path>
            <path
              d="M441.149 355.157L422.698 336.715L404.246 355.157L422.697 373.6L441.149 355.157Z"
              fill="#B39B6E"></path>
            <path
              d="M306.54 287.814L288.088 269.371L269.636 287.814L288.088 306.256L306.54 287.814Z"
              fill="#B39B6E"></path>
            <path
              d="M272.889 321.486L254.437 303.043L235.985 321.486L254.437 339.928L272.889 321.486Z"
              fill="#B39B6E"></path>
            <path
              d="M239.235 355.157L220.783 336.715L202.331 355.157L220.783 373.6L239.235 355.157Z"
              fill="#B39B6E"></path>
            <path
              d="M37.1058 220.47L18.6541 202.028L0.202135 220.47L18.6539 238.913L37.1058 220.47Z"
              fill="#9DC3E6"></path>
            <path
              d="M70.7594 254.142L52.3076 235.699L33.8557 254.142L52.3075 272.584L70.7594 254.142Z"
              fill="#9DC3E6"></path>
            <path
              d="M104.411 287.814L85.9587 269.371L67.5068 287.814L85.9586 306.256L104.411 287.814Z"
              fill="#9DC3E6"></path>
            <path
              d="M138.279 321.485L119.827 303.043L101.375 321.485L119.827 339.928L138.279 321.485Z"
              fill="#9DC3E6"></path>
            <path
              d="M171.93 355.157L153.479 336.715L135.027 355.157L153.478 373.6L171.93 355.157Z"
              fill="#9DC3E6"></path>
            <path
              d="M205.584 388.829L187.132 370.386L168.68 388.829L187.132 407.271L205.584 388.829Z"
              fill="#9DC3E6"></path>
            <path
              d="M643.062 220.47L624.61 202.028L606.158 220.47L624.61 238.913L643.062 220.47Z"
              fill="#9DC3E6"></path>
            <path
              d="M609.41 254.142L590.958 235.699L572.507 254.142L590.958 272.584L609.41 254.142Z"
              fill="#9DC3E6"></path>
            <path
              d="M575.757 287.814L557.305 269.371L538.853 287.814L557.305 306.256L575.757 287.814Z"
              fill="#9DC3E6"></path>
            <path
              d="M542.106 321.485L523.654 303.043L505.202 321.485L523.654 339.928L542.106 321.485Z"
              fill="#9DC3E6"></path>
            <path
              d="M508.452 355.157L490 336.715L471.548 355.157L490 373.6L508.452 355.157Z"
              fill="#9DC3E6"></path>
            <path
              d="M474.801 388.829L456.349 370.386L437.897 388.829L456.349 407.271L474.801 388.829Z"
              fill="#9DC3E6"></path>
            <path
              d="M340.191 321.485L321.739 303.043L303.287 321.485L321.739 339.928L340.191 321.485Z"
              fill="#9DC3E6"></path>
            <path
              d="M373.845 355.157L355.393 336.714L336.941 355.157L355.393 373.599L373.845 355.157Z"
              fill="#9DC3E6"></path>
            <path
              d="M407.496 388.829L389.044 370.386L370.592 388.829L389.044 407.271L407.496 388.829Z"
              fill="#9DC3E6"></path>
            <path
              d="M441.149 422.501L422.698 404.058L404.246 422.501L422.697 440.943L441.149 422.501Z"
              fill="#9DC3E6"></path>
            <path
              d="M306.54 355.157L288.088 336.715L269.636 355.157L288.088 373.6L306.54 355.157Z"
              fill="#9DC3E6"></path>
            <path
              d="M272.889 388.829L254.437 370.387L235.985 388.829L254.437 407.272L272.889 388.829Z"
              fill="#9DC3E6"></path>
            <path
              d="M239.235 422.501L220.783 404.058L202.331 422.501L220.783 440.943L239.235 422.501Z"
              fill="#9DC3E6"></path>
          </g>
          <defs>
            <clipPath id="clip0_362_1833">
              <rect width="645" height="442" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>

        <!-- <img
          src="/img/isotipo-servicios.svg"
          alt="servicios de diseño arquitectonico en ixtapa zihuatanejo"
        /> -->
      </div>
    </div>
  </div>

  <div id="riel">
    <div class="vagon pad">
      <h3>¿Cual es tu sueño?</h3>
      <h2 class="int">WAT IS YOUR DREAM?</h2>
      <p>
        <b>Nuestro proceso creativo de diseño constructivo</b> te ayuda a materializar
        el anhelo de ver construido tu proyecto, eliminando cualquier riesgo de construir
        e invertir en una obra que no te deje satisfecho.
      </p>
      <div class="bande">
        <div class="conte">
          <h3>RECURSOS</h3>
          <p>
            Nuestro proceso se adapta y busca resolver necesidades de <b
              >proyectos con presupuestos variados.</b
            >
          </p>
        </div>
        <div class="conte">
          <h3>TU SUEÑO</h3>
          <p>
            Además de soluciones arquitectónicas, damos importancia en nuestro
            proceso a tus <b>propósitos y contexto</b> en el que tu proyecto se debe
            realizar
          </p>
        </div>
      </div>
    </div>

    <div class="vagon pad">
      <h3>¿Cuales son tus necesidades?</h3>
      <h2>WAT IS YOUR NEAD?</h2>
      <p>
        <b>Inicio del diseño</b> de tu proyecto donde materializamos tu sueño
      </p>
      <div class="bande">
        <div class="conte">
          <h3>TE CONOCEMOS</h3>
          <p>
            Aprendemos tus gustos, necesidades y las tomamos en cuenta para
            proponer diseños adecuados.
          </p>
        </div>
        <div class="conte">
          <h3>APLICA EN:</h3>
          <ul>
            <li>Diseño Arquitectónico</li>
            <li>Proyectos Arquitectónicos</li>
            <li>Proyectos Ejecutivos</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="vagon pad">
      <h3>¿Qué seleccionas?</h3>
      <h2>WAT YOU CHOOSE?</h2>
      <p>Después de conocer tus gustos y necesidades el proceso deriva en:</p>
      <div class="bande">
        <div class="conte">
          <h3>PROPUESTAS</h3>
          <p>Te mostramos dos propuestas adecuadas al proyecto</p>
        </div>
        <div class="conte">
          <h3>APLICA EN:</h3>
          <ul>
            <li>Propuesta A</li>
            <li>Propuesta B</li>
          </ul>
        </div>
        <div class="conte">
          <p>
            <b>Sesiones</b> de revisiones
          </p>
        </div>
      </div>
    </div>

    <div class="vagon pad">
      <h3>¿Qué construyes?</h3>
      <h2>WAT YOU BUILD?</h2>
      <p>finalmente recibes:</p>
      <div class="bande">
        <div class="conte">
          <h3>ENTREGA</h3>
          <p>
            <b>Esta etapa constituye la entrega</b> de planos arquitectónicos y de
            instalaciones autorizados para su construcción.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bandeja">
    <div class="vagon anchoauto">
      <h3 class="int">Nosotros resolvemos toda tu</h3>
      <h2 class="int">CONSTRUCCIÓN</h2>
      <p class="borde-abajo int">
        Una vez ya tengas tu diseño, te ofrecemos 2 opciones para construir
      </p>
      <div class="bande">
        <div class="conte int">
          <h3>Llave en mano</h3>
          <p>
            <b>No encargamos de todo</b> hasta entregarte las llaves de tu inmueble.
          </p>
          <ul>
            <li>Gestión de tramites y licencias</li>
            <li>Control de obra</li>
            <li>Administración de recursos (compra y logística)</li>
            <li>
              Administración de recursos humanos (altas imss, pagos, etc...)
            </li>
            <li>Supervisión de obras</li>
          </ul>
        </div>
        <div class="conte int">
          <h3>Administración</h3>
          <p>
            O te apoyamos en <b>solo lo que necesites.</b>
          </p>
          <ul>
            <li class="raya">Gestión de tramites y licencias</li>
            <li><b>Control de obra</b></li>
            <li class="raya">
              Administración de recursos (compra y logística)
            </li>
            <li>
              <b>
                Administración de recursos humanos (altas imss, pagos, etc...)</b
              >
            </li>
            <li class="raya">Supervisión de obras</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bandeja">
    <div class="vagon anchoauto">
      <h3 class="int">bienes raíces</h3>
      <h2 class="int">REAL PROPERTY</h2>
      <p class="borde-abajo int">
        Te ayudamos a conseguir <b>la propiedad de tus sueños</b>
      </p>
      <div class="bande">
        <div class="conte int">
          <h3>Terrenos</h3>
          <p>
            Lorem ipsum <b>dolor sit amet consectetur</b>. Donec quis lacus ac
            mattis. Vestibulum mauris tempus faucibus malesuada molestie a
          </p>
        </div>
        <div class="conte int">
          <h3>Renta o compra</h3>
          <p>
            <b>Donec quis lacus ac mattis.</b> Vestibulum mauris tempus faucibus
            malesuada molestie a
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="asesorias">
    <div class="bandeja">
      <h2 class="int">ASESORÍAS</h2>
      <p class="int">Puedes acercarte a nosotros para que te apoyemos en temas como:</p>
    </div>
    <div id="riel2">
      <div class="asesoria">
        <div class="num">1</div>
        <div class="conte">
          <h3>inmuebles</h3>
          <p>En usos de suelo.</p>
        </div>
      </div>
      <div class="asesoria">
        <div class="num">2</div>
        <div class="conte">
          <h3>Diseño</h3>
          <p>Procesos creativos.</p>
        </div>
      </div>
      <div class="asesoria">
        <div class="num">3</div>
        <div class="conte">
          <h3>Presupuestos</h3>
          <p>Te asesoramos en costos para la realización de tus proyectos.</p>
        </div>
      </div>
      <div class="asesoria">
        <div class="num">4</div>
        <div class="conte">
          <h3>Construcción</h3>
          <p>Te guiamos en todo el proceso constructivo de tu obra.</p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<Footer />

<style lang="scss">
  @import "../estilos/_variables.scss";
  #logo{
    
    width: 80%;
    height: 80%;
    @include cel {
      width: 100%;
      height: 100%;
    }
  }

  .hero {
    display: flex;
    padding: 2rem 0;
    height: 70vh;
    @include cel {
      flex-wrap: wrap;
    }
    .izq,
    .der {
      flex: 1 1 auto;
      display: inherit;
      justify-content: center;
      align-items: center;
    }

    .conte {
      width: 70%;
    }

    img {
      width: 80%;
    }
    h2 {
      color: $azul;
      font-size: clamp(1.3rem, 2vw, 2rem);
      font-weight: lighter;
    }
  }

  .borde-abajo {
    border-bottom: solid 1px $dorado;
    padding-bottom: $margen;
  }
  .anchoauto {
    width: auto !important;
    margin-bottom: $margen-abajo;
  }
  .pad {
    padding: 0 20%;
  }
  ul {
    padding: $margen 0;
    margin-left: $margen;
    li {
      margin-bottom: 0.6rem;
      list-style-type: disc;
    }
  }
  .raya {
    text-decoration: line-through;
  }
  #riel {
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
    padding-left: $margen-riel;
  }

  .vagon {
    width: 100vw;

    @include cel {
      width: 85vw;
      .bande {
        flex-wrap: wrap;
      }
      .conte {
        flex: 1 0 100% !important;
        padding: 0 !important;
        &:last-child {
          border-left: none !important;
        }
      }
    }

    h3 {
      color: $negro;
      font-size: clamp(1.1rem, 1.3vw, 1.5rem);
    }
    .bande {
      display: flex;
      gap: 2rem;

      .conte {
        flex: 1;
        padding: 2rem;
        margin-top: 2rem;
        &:last-child {
          border-left: solid 1px $azul;
        }
        h3 {
          color: $dorado;
        }
      }
    }
  }
  #asesorias {
    padding-bottom: $margen-abajo;
    overflow: hidden;
    #riel2 {
      padding-top: $margen;
      display: flex;
    }
    .asesoria {
      display: flex;
      flex: 1 0 60%;
      align-items: center;
      justify-content: center;
      width: 100%;
      @include cel {
        flex-wrap: wrap;
        .conte {
          border-left: none !important;
          border-top: solid 1px $azul;
          font-size: clamp(1.2rem, 2vw, 1.5rem);
          margin: 1rem;
        }
      }
      .num {
        font-size: clamp(5rem, 2.3vw, 6rem);
        font-weight: bold;
        padding: 2rem;
      }
      .conte {
        border-left: solid 1px $azul;
        padding: 2rem;
      }
    }
  }
</style>
<script>
  import gsap from "gsap";

  let tl = gsap.timeline({ repeat: 0 });
  tl.delay(2);

  tl.from(" .init > .ref", {
    stagger: {
      amount: 0.3,
    },
    y: 100,
    opacity: 0,
  });

  tl.from("#logo path", {
    stagger: {
      amount: 2.2,
     
    },
    delay: -0.2,
    x: "random",
    // rotate: random,
    scaleY: 1.5,
    scaleX: 1.5,
    transformOrigin: "top",
    ease: "Power1.easeOut",
    opacity: 0,
    duration: 0.7,
  });

  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const riel = document.querySelector("#riel");
  const riel2 = document.querySelector("#riel2");
  const vagones = gsap.utils.toArray("#riel .vagon");
  const asesoria = gsap.utils.toArray("#riel2 .asesoria");
  const losvagones = document.querySelectorAll("#riel .vagon");

  let scrollAnima = gsap.to(vagones, {
    xPercent: -100 * (vagones.length - 1),
    ease: "none",
    scrollTrigger: {
      trigger: riel,
      pin: true,
      start: "center center center",
      scrub: 1,
      end: "+=3000",
      snap: {
        snapTo: 1 / (vagones.length - 1),
        duration: 1,
        delay: 0.6,
        ease: "power1.inOut",
      },
      // markers: true,
    },
  });

  let scrollAsesoria = gsap.to(asesoria, {
    xPercent: -100 * (asesoria.length - 1),
    ease: "none",
    scrollTrigger: {
      trigger: riel2,
      pin: true,
      start: "center center center",
      scrub: 1,
      end: "+=3000",
      snap: {
        snapTo: 1 / (asesoria.length - 1),
        duration: 1,
        delay: 0.6,
        ease: "power1.inOut",
      },
      // markers: true,
    },
  });

  losvagones.forEach((vagon) => {
    let h3 = vagon.querySelectorAll("h3");
    let h2 = vagon.querySelectorAll("h2");
    let p = vagon.querySelectorAll("p");
    let conte = vagon.querySelectorAll(".conte");

    gsap.from([h3, p, conte], {
      y: -50,
      opacity: 0,
      stagger: 0.1,
      scrollTrigger: {
        trigger: vagon,
        containerAnimation: scrollAnima,
        start: "left center",
      },
    });
  });

  const proyectos = document.querySelectorAll(".int");
  // For each images with class "animate-image" on page
  proyectos.forEach((el) => {
    let tl = gsap.timeline({
      scrollTrigger: {
        trigger: el,
        start: "left center",
        // toggleActions: "play none none reverse",
      },
    });

    tl.set(el, { transformOrigin: "top center" }).from(el, {
      opacity: 0,
      scale: 0.9,
      y: "+=20",
    });
  });
</script>
