---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  titulo="Servicios wat design"
  descripcion="Servicios de diseño arquitectonico, construcción y asesorías en Zihuatanejo"
>
  <Nav />
  <div class="bandeja">
    <div class="hero">
      <div class="izq">
        <div class="conte">
          <h1>SERVICIOS</h1>
          <h2>arquitectonicos | wat design</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            nulla doloribus numquam.
          </p>
        </div>
      </div>
      <div class="der">
        <img
          src="/img/isotipo-servicios.svg"
          alt="servicios de diseño arquitectonico en ixtapa zihuatanejo"
        />
      </div>
    </div>
  </div>

  <div id="riel">
    <div class="vagon pad">
      <h3>¿Cual es tu sueño?</h3>
      <h2>WAT IS YOUR DREAM?</h2>
      <p>
        <b>Nuestro proceso creativo de diseño constructivo</b> te ayuda a materializar
        el anhelo de ver construido tu proyecto, eliminando cualquier riesgo de construir
        e invertir en una obra que no te deje satisfecho.
      </p>
      <div class="bande">
        <div class="conte">
          <h3>RECURSOS</h3>
          <p>
            Nuestro proceso se adapta y busca resolver necesidades de <b
              >proyectos con presupuestos variados.</b
            >
          </p>
        </div>
        <div class="conte">
          <h3>TU SUEÑO</h3>
          <p>
            Además de soluciones arquitectónicas, damos importancia en nuestro
            proceso a tus <b>propósitos y contexto</b> en el que tu proyecto se debe
            realizar
          </p>
        </div>
      </div>
    </div>

    <div class="vagon pad">
      <h3>¿Cuales son tus necesidades?</h3>
      <h2>WAT IS YOUR NEAD?</h2>
      <p>
        <b>Inicio del diseño</b> de tu proyecto donde materializamos tu sueño
      </p>
      <div class="bande">
        <div class="conte">
          <h3>TE CONOCEMOS</h3>
          <p>
            Aprendemos tus gustos, necesidades y las tomamos en cuenta para
            proponer diseños adecuados.
          </p>
        </div>
        <div class="conte">
          <h3>APLICA EN:</h3>
          <ul>
            <li>Diseño Arquitectónico</li>
            <li>Proyectos Arquitectónicos</li>
            <li>Proyectos Ejecutivos</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="vagon pad">
      <h3>¿Qué seleccionas?</h3>
      <h2>WAT YOU CHOOSE?</h2>
      <p>Después de conocer tus gustos y necesidades el proceso deriva en:</p>
      <div class="bande">
        <div class="conte">
          <h3>PROPUESTAS</h3>
          <p>Te mostramos dos propuestas adecuadas al proyecto</p>
        </div>
        <div class="conte">
          <h3>APLICA EN:</h3>
          <ul>
            <li>Propuesta A</li>
            <li>Propuesta B</li>
          </ul>
        </div>
        <div class="conte">
          <p>
            <b>Sesiones</b> de revisiones
          </p>
        </div>
      </div>
    </div>

    <div class="vagon pad">
      <h3>¿Qué construyes?</h3>
      <h2>WAT YOU BUILD?</h2>
      <p>finalmente recibes:</p>
      <div class="bande">
        <div class="conte">
          <h3>ENTREGA</h3>
          <p>
            <b>Esta etapa constituye la entrega</b> de planos arquitectónicos y de
            instalaciones autorizados para su construcción.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bandeja">
    <div class="vagon anchoauto">
      <h3>Nosotros resolvemos toda tu</h3>
      <h2>CONSTRUCCIÓN</h2>
      <p class="borde-abajo">
        Una vez ya tengas tu diseño, te ofrecemos 2 opciones para construir
      </p>
      <div class="bande">
        <div class="conte">
          <h3>Llave en mano</h3>
          <p>
            <b>No encargamos de todo</b> hasta entregarte las llaves de tu inmueble.
          </p>
          <ul>
            <li>Gestión de tramites y licencias</li>
            <li>Control de obra</li>
            <li>Administración de recursos (compra y logística)</li>
            <li>
              Administración de recursos humanos (altas imss, pagos, etc...)
            </li>
            <li>Supervisión de obras</li>
          </ul>
        </div>
        <div class="conte">
          <h3>Administración</h3>
          <p>
            O te apoyamos en <b>solo lo que necesites.</b>
          </p>
          <ul>
            <li class="raya">Gestión de tramites y licencias</li>
            <li><b>Control de obra</b></li>
            <li class="raya">
              Administración de recursos (compra y logística)
            </li>
            <li>
              <b>
                Administración de recursos humanos (altas imss, pagos, etc...)</b
              >
            </li>
            <li class="raya">Supervisión de obras</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bandeja">
    <div class="vagon anchoauto">
      <h3>bienes raíces</h3>
      <h2>REAL PROPERTY</h2>
      <p class="borde-abajo">
        Te ayudamos a conseguir <b>la propiedad de tus sueños</b>
      </p>
      <div class="bande">
        <div class="conte">
          <h3>Terrenos</h3>
          <p>
            Lorem ipsum <b>dolor sit amet consectetur</b>. Donec quis lacus ac
            mattis. Vestibulum mauris tempus faucibus malesuada molestie a
          </p>
        </div>
        <div class="conte">
          <h3>Renta o compra</h3>
          <p>
            <b>Donec quis lacus ac mattis.</b> Vestibulum mauris tempus faucibus
            malesuada molestie a
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="asesorias">
    <div class="bandeja">
      <h2>ASESORÍAS</h2>
      <p>Puedes acercarte a nosotros para que te apoyemos en temas como:</p>
    </div>
    <div id="riel2">
      <div class="asesoria">
        <div class="num">1</div>
        <div class="conte">
          <h3>inmuebles</h3>
          <p>Te asesoramos en la compra de terrenos y propiedades.</p>
        </div>
      </div>
      <div class="asesoria">
        <div class="num">2</div>
        <div class="conte">
          <h3>inmuebles</h3>
          <p>Te asesoramos en la compra de terrenos y propiedades.</p>
        </div>
      </div>
      <div class="asesoria">
        <div class="num">3</div>
        <div class="conte">
          <h3>inmuebles</h3>
          <p>Te asesoramos en la compra de terrenos y propiedades.</p>
        </div>
      </div>
      <div class="asesoria">
        <div class="num">4</div>
        <div class="conte">
          <h3>inmuebles</h3>
          <p>Te asesoramos en la compra de terrenos y propiedades.</p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<Footer />

<style lang="scss">
  @import "../estilos/_variables.scss";

  .hero {
    display: flex;
    padding: 2rem 0;
    height: 70vh;
    @include cel {
      flex-wrap: wrap;
    }
    .izq,
    .der {
      flex: 1 1 auto;
      display: inherit;
      justify-content: center;
      align-items: center;
    }

    .conte {
      width: 70%;
    }

    img {
      width: 80%;
    }
    h2 {
      color: $azul;
      font-size: clamp(1.3rem, 2vw, 2rem);
      font-weight: lighter;
    }
  }

  .borde-abajo {
    border-bottom: solid 1px $dorado;
    padding-bottom: $margen;
  }
  .anchoauto {
    width: auto !important;
    margin-bottom: $margen-abajo;
  }
  .pad {
    padding: 0 20%;
  }
  ul {
    padding: $margen 0;
    margin-left: $margen;
    li {
      margin-bottom: 0.6rem;
      list-style-type: disc;
    }
  }
  .raya {
    text-decoration: line-through;
  }
  #riel {
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
    padding-left: $margen-riel;
  }

  .vagon {
    width: 100vw;

    @include cel {
      width: 85vw;
      .bande {
        flex-wrap: wrap;
      }
      .conte {
        flex: 1 0 100% !important;
        padding: 0 !important;
        &:last-child {
          border-left: none !important;
        }
      }
    }

    h3 {
      color: $negro;
      font-size: clamp(1.1rem, 1.3vw, 1.5rem);
    }
    .bande {
      display: flex;
      gap: 2rem;

      .conte {
        flex: 1;
        padding: 2rem;
        margin-top: 2rem;
        &:last-child {
          border-left: solid 1px $azul;
        }
        h3 {
          color: $dorado;
        }
      }
    }
  }
  #asesorias {
    padding-bottom: $margen-abajo;
    overflow: hidden;
    #riel2 {
      padding-top: $margen;
      display: flex;
    }
    .asesoria {
      display: flex;
      flex: 1 0 60%;
      align-items: center;
      justify-content: center;
      width: 100%;
      .num {
        font-size: clamp(5rem, 2.3vw, 6rem);
        font-weight: bold;
        padding: 2rem;
      }
      .conte {
        border-left: solid 1px $azul;
        padding: 2rem;
      }
    }
  }
</style>
<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const riel = document.querySelector("#riel");
  const riel2 = document.querySelector("#riel2");
  const vagones = gsap.utils.toArray("#riel .vagon");
  const asesoria = gsap.utils.toArray("#riel2 .asesoria");
  const losvagones = document.querySelectorAll("#riel .vagon");

  let scrollAnima = gsap.to(vagones, {
    xPercent: -100 * (vagones.length - 1),
    ease: "none",
    scrollTrigger: {
      trigger: riel,
      pin: true,
      start: "center center center",
      scrub: 1,
      end: "+=3000",
      snap: {
        snapTo: 1 / (vagones.length - 1),
        duration: 1,
        delay: 0.6,
        ease: "power1.inOut",
      },
      // markers: true,
    },
  });

  let scrollAsesoria = gsap.to(asesoria, {
    xPercent: -100 * (asesoria.length - 1),
    ease: "none",
    scrollTrigger: {
      trigger: riel2,
      pin: true,
      start: "center center center",
      scrub: 1,
      end: "+=3000",
      snap: {
        snapTo: 1 / (asesoria.length - 1),
        duration: 1,
        delay: 0.6,
        ease: "power1.inOut",
      },
      // markers: true,
    },
  });

  losvagones.forEach((vagon) => {
    let h3 = vagon.querySelectorAll("h3");
    let h2 = vagon.querySelectorAll("h2");
    let p = vagon.querySelectorAll("p");
    let conte = vagon.querySelectorAll(".conte");

    gsap.from([h3, p, conte], {
      y: -50,
      opacity: 0,
      stagger: 0.1,
      scrollTrigger: {
        trigger: vagon,
        containerAnimation: scrollAnima,
        start: "left center",
      },
    });
  });
</script>