---
---

<nav class="bandeja">
    <a href="/">
        <img src="/img/wat-logo-nav.svg" alt="Wat Zihuatanejo arquitectura" />
    </a>
  <ul>
    <li><a href="/proyectos">proyectos</a></li>
    <li><a href="/servicios">servicios</a></li>
    <li>
      <a href="/wat-design" class="cta">
        wat design <img src="/img/flecha.svg" alt="botón wat" /></a>
    </li>
  </ul>
</nav>

<style lang="scss">
  @import "../estilos/_variables.scss";
  nav {
    padding: 2rem 0;
    border-bottom: solid 1px $cafe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include cel {
      flex-wrap: wrap;
      justify-content: center;
      ul {
        padding-top: 1.5rem;
      }
    }
    ul {
      align-items: center;
      display: inherit;
      gap: 1.5rem;
    }
    @include cel {
      overflow-x: hidden;
    }
  }
</style>

<script>
  import gsap from "gsap";
  let tl = gsap.timeline({ repeat: 0 });
  tl.from("nav", {
    y: -20,
  });
  tl.from("nav img", {
    x: 50,
    opacity: 0,
    duration: 1, //1 segundo
  });
  tl.from("nav ul li", {
    stagger: 0.1,
    x: 60,
    opacity: 0,
    duration: 1,
  });
</script>
