---
export interface Props {
  titulo: string;
  descripcion: string;
}
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
// import { ViewTransitions } from 'astro:transitions';
const { titulo, descripcion } = Astro.props;
import "../estilos/globales.scss";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- <ViewTransitions /> -->
    <meta charset="UTF-8" />
    <meta name="description" content={descripcion} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{titulo}</title>
  </head>
  <body>
    <Nav/>
    <main>
      <slot />
    </main>
    <Footer/>
  </body>
</html>


